{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_menus.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/btns/edit_btn.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/pagination.css') }}">

<!-- JS -->
{% block area_js %}
{% endblock %}
{% endblock %}

{% block header %}
{% include 'public/nav.html' %}
{% include 'public/settings.html' %}
{% endblock %}

{% block body %}
{% block abm_form %}
{% endblock %}
{% include 'admin/adm_table.html' %}
<div class="overlay" id="overlay"></div>
{% endblock %}

{% block footer %}
{% include 'public/footer.html' %}
{% endblock %}
