{% extends 'base.html' %}

{% block title %} Reservar Mesa {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">
<script src="{{ url_for('static', filename='js/reservations.js') }}" defer></script>
{% endblock %}

{% block header %}
{% include 'public/nav.html' %}
{% endblock %}

{% block body %}
<main class="page-content" style="justify-content: center; align-items: flex-start; margin-top: 5.5rem;">
        {% if tables %}
        <div class="block tables-section">
            <div class="block-header">
                <h2>
                    Mesas disponibles
                    {% if fecha and hora %} para el {{ fecha }} a las {{ hora }}:00 {% endif %}
                </h2>
            </div>
            <div>
            <div class="block-content tables-grid">
                {% for mesa in tables %}

                {% if mesa.estado == 'available' %}
                <div class="table-card table-available" data-id="{{ mesa.id }}" data-number="{{ mesa.table_number }}"
                    onclick="elegirMesa(this)">
                    <h3>Mesa {{ mesa.table_number }}</h3>
                    <p>{{ mesa.capacity }} personas</p>
                    <span class="table-status status-available">Disponible</span>
                </div>

                {% elif mesa.estado == 'reserved' %}
                <div class="table-card table-reserved">
                    <h3>Mesa {{ mesa.table_number }}</h3>
                    <p>{{ mesa.capacity }} personas</p>
                    <span class="table-status status-reserved">Reservada</span>
                </div>

                {% else %}
                <div class="table-card table-occupied">
                    <h3>Mesa {{ mesa.table_number }}</h3>
                    <p>{{ mesa.capacity }} personas</p>
                    <span class="table-status status-occupied">Ocupada</span>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            </div>
        </div>
        {% endif %}

        {% include 'reservations/reservations_form.html' %}
</main>
{% endblock %}