{% extends 'base.html' %}

{% block title %}Deliveris{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deliveries.css') }}">
{% endblock%}

{% block header %}

{% endblock %}

{% block body %}
    {% if deliveries %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Datetime</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.address }}</td>
                <td>{{ delivery.datetime }}</td>
                <td><a href="{{ delivery.url}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}