<div class="panel" data-openby="configBtn">
    <div class="block-header">
        <h2>Configuración</h2>
    </div>
    <div class="block-content">
        <ul class="panel-list">
            {% if user_id %}
            <li><button id="adminUser">Administrar usuario</button></li>
            {% endif %}
            <li><a href="#">Opción 2</a></li>
            {% if user_id %}
            <li><a href="{{ url_for('public_login.logout') }}">Cerrar sesión</a></li>
            {% endif %}
        </ul>
    </div>
</div>